*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #5D6870;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
/* ------Header------- */
header {
  height: 284px;
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/headerbackground.jpg");
  background-size: cover;
  background-position: center center;
}
header p, header li {
  text-transform: uppercase;
}
/* ------Nav Bar------- */
#logoHeader {
  padding: 7px;
}
#navBar {
  position: relative;
  max-height: 56px;
  margin: 0 auto;
}
#waveLogo, #logo, .navLinks, #searchIcon, #navRight {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
#logo {
  position: absolute;
  left: 70px;
  text-align: center;
  display: block;
}
#name {
  display: inline-block;
  vertical-align: middle;
  margin-top: 13px;
  margin-left: 3px;
  letter-spacing: -0.2px;
  font-weight: 400;
  color: #013353;
}
#navRight {
  position: absolute;
  left: 87px;
  top: 34px;
}
.navLinks a {
  vertical-align: middle;
  font-family: Oswald;
  font-weight: 400;
  color: #013353;
  font-size: 17px;
  letter-spacing: 0.7px;
  text-decoration: none;
}
.navLinks a:visited {
  color: #013353;
}
.navLinks a:hover {
  color: #013353;
}
#navAbout {
  padding-right: 5px
}
#navSearch {
  padding-left: 5px;
}
#searchIcon {
  margin-top: 5px;
  margin-left: -3px;
}
/* ------Sub Header------- */
#surfCo {
  text-align: center;
  padding-top: 24px;
  color: white;
  font-size: 62px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 64px;
}
#project {
  text-align: center;
  font-size: 15px;
  color: #013353;
  text-transform: capitalize;
  display: block;
  margin: -50px auto;
}
/* ------Content------- */
#content {
  margin: auto 8px;
  padding-bottom: 63px;
}
#content::after {
  content: '';
  display: block;
  clear: both;
}
#post {
  display: block;
  max-width: 618px;
}
#smallAuthor {
  background: linear-gradient(rgba(17, 117, 192, 0.50), rgba(17, 117, 192, 0.50)), url("../imgs/me.jpg");
  background-size: cover;
  margin-top: 5px;
  margin-left: 7px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
#postAuthor {
  position: relative;
  vertical-align: bottom;
  font-weight: 600;
  color: #0068B8;
  font-size: 12px;
  text-decoration: none;
}
#authorName {
  vertical-align: bottom;
  margin-left: 6px;
}
.date {
  position: relative;
  vertical-align: bottom;
  font-weight: 400;
  color: #BAC6CE;
  font-size: 12px;
  letter-spacing: 0.7px;
}
#on {
  padding-left: 10px;
}
#underline {
  text-decoration: none;
  position: relative;
}
#underline::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
}
#post h1 {
  margin: 20px 0px 3px 3px;
  font-size: 43px;
  font-weight: 400;
  line-height: 108%;
  letter-spacing: -1px;
  color: #083452;
}
#p1 {
  padding-top: 18px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.51px;
}
#blockQuote {
  margin-left: 9px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 16px;
  margin-top: 22px;
  padding-bottom: 4px;
  margin-bottom: 21px;
  border-left: 1px solid #BAC6CE;
  letter-spacing: -1px;
  color: #0068B8;
}
#qoute {
  font-size: 29px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
#p2 {
  padding-top: 10px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.51px;
}
#p3 {
  padding-top: 9px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.51px;
}
#p4 {
  padding-top: 11px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.51px;
}
#postButtonContainer, .button, .buttonText .iconContainer {
  position: relative;
  text-decoration: none;
  display: block;
}
#postButtonContainer {
  margin: auto;
}
.postBtn {
  background-color: #A3B3BE;
}
#commentContainter {
  width: 158px;
  margin: auto;
  position: relative;
}
#laterContainer {
  width: 128px;
  margin: 6px auto;
  position: relative;
}
#shareContainer {
  width: 154px;
  margin: auto;
  position: relative;
}
.iconContainer {
  width: 33px;
  height: 30px;
  background-color: #5D6870;
}
.icon {
  width: 27px;
  height: 27px;
  margin: left;
  position: absolute;
  vertical-align: middle;
  text-decoration: none;
  padding-top: 1px;
}
#commentsButton img {
  bottom: 5px;
  width: 25px;
  height: 22px;
  margin-left: 3px;
}
#laterButton img {
  bottom: 5px;
  width: 25px;
  height: 22px;
  margin-left: 3px;
}
#shareButton img {
  bottom: 5px;
  width: 25px;
  height: 22px;
  margin-left: 3px;
}
.buttonText p {
  position: relative;
  font-size: 13px;
  text-align: center;
  position: absolute;
  margin: auto auto auto 20px;
}
#commentText p {
  width: 122px;
  right: 5px;
  bottom: 7px;
  color: white;
}
#laterText p {
  width: 122px;
  left: -2px;
  bottom: 6px;
  color: white;
}
#shareText p {
  width: 122px;
  right: 2px;
  bottom: 6px;
  color: white;
}
.postBtn:hover {
  background-color: #0068B8;
}
.postBtn:hover .iconContainer{
  background-color: #023254;
}
/* ------Side Bar------- */
#sideBar {
 max-width: 278px;
 margin: auto;
}
#authorImage {
  background: linear-gradient(rgba(17, 117, 192, 0.50), rgba(17, 117, 192, 0.50)), url("../imgs/me.jpg");
  background-size: cover;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin: 38px 0 0 97px;
}
#nameSidebar {
  text-align: center;
  color: #0068B8;
  position: relative;
  bottom: 4px;
}
#socialLinksSidebar li {
  display: inline-block;
  position: relative;
  bottom: 23px;
  left: 4px;
  font-size: 12.5px;
  word-spacing: 1px;
  letter-spacing: 0.4px;
  font-weight: 200;
}
#socialLinksSidebar a {
  text-decoration: none;
  color: #BAC6CF;
}
#socialLinksSidebar a:hover {
  text-decoration: none;
  color: #BAC6CF;
}
#socialLinksSidebar a:visited {
  text-decoration: none;
  color: #BAC6CF;
}
#ad {
  height: 300px;
  width: 278px;
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/guitars.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 13px;
}
.aboutAd {
  left: 192px;
  top: 14px;
  color: #BAC6CE;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.7px;
}
#underlineAd {
  text-decoration: none;
  position: relative;
}
#underlineAd::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
}
#sideBar h4 {
  margin-top: 59px;
  font-size: 18px;
  font-weight: 400;
  word-spacing: -2px;
  color: #0068B8;
}
#sideBar p:nth-last-child(1) {
  letter-spacing: -0.51px;
  font-size: 14px;
  margin-top: -21px;
  line-height: 24.5px;
  padding-right: 3px;
}
/* ------Popular Posts------- */
#popPosts {
  height: 90px;
  border-top: 1px solid #E0E7EA;
}
#postImages {
  margin: auto;
}
#popPosts h1 {
  max-width: 565px;
  position: relative;
  margin: 15px auto;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
  color: #083450;
  font-weight: 400;
}
#postImages {
  display: block;
  width: 100%;
}
#postImages ul {
  padding: 0;
  margin: 0;
}
#postImages ul li {
  position: relative;
  vertical-align: bottom;
  height: 330px;
  max-width: 100%;
}
#bP1 {
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/horses.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP2 {
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/beer.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP3 {
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/moped.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP4 {
  background: linear-gradient(rgba(17, 117, 192, 0.85), rgba(17, 117, 192, 0.85)), url("../imgs/street.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP1 a, #bP2 a, #bP3 a, #bP4 a {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #023254;
  text-transform: uppercase;
  text-decoration: none;
}
#bP1 a {
  bottom: 9px;
  left: 16px;
  letter-spacing: 0.8px;
}
#bP2 a {
  bottom: 9px;
  left: 16px;
  letter-spacing: 0.8px;
}
#bP3 a {
  width: 285px;
  bottom: 13px;
  left: 19px;
  letter-spacing: 0.8px;
  line-height: 37px;
}
#bP4 a {
  bottom: 9px;
  left: 20px;
  letter-spacing: 0.8px;
}
#bP1:hover {
  background-image: url("../imgs/horses.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP2:hover {
  background-image: url("../imgs/beer.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP3:hover {
  background-image: url("../imgs/moped.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP4:hover {
  background-image: url("../imgs/street.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#bP1:hover a, #bP2:hover a, #bP3:hover a, #bP4:hover a {
  color:white;
}
/* ------Footer------- */
footer {
  height: 110px;
  background-color: #023254;
}
#footerContainer, #tiyLogo, #tiyCopyright {
  position: relative;
  vertical-align: center;
}
#tiyLogo {
  top: 14px;
  left: 1px;
}
#tiyCopyright {
  font-size: 13px;
  color: #A1B3C0;
  word-spacing: 1.4px;
  bottom: 10px;
  font-weight: 300px;
}
#footerNav {
  position: absolute;
  top: 58px;
}
#footerLogo {
  display: inline-block;
  margin: auto;
}
#footerLogo img, #footerLogo p  {
  display: inline-block;
}
#footerNav li {
  display: inline-block;
}
#footerNav a {
  text-decoration: none;
  font-size: 13px;
  color: #A1B3C0;
  word-spacing: 1.4px;
  font-weight: 300px;
}
#footerNav a:visited {
  color: #A1B3C0;
}
#footerNav a:hover {
  color: #A1B3C0;
}
